name: AWS Golden AMI

on:

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  building-ami:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Versions Checking
        run: |
          terraform version
          packer version
          trivy version
          packer plugins install github.com/hashicorp/amazon
          pwd

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Build Golden AMI with Packer
        working-directory: packer-golden-image
        run: |
          # packer validate -var-file=variables-packer-golden-ami.json packer-golden-ami.json
          # packer build -var-file=variables-packer-golden-ami.json packer-golden-ami.json
      
      - name: Trivy Scan AMI
        run: |
          AMI_ID=$(aws ec2 describe-images --owners self --filters "Name=tag:Project,Values=aws-golden-ami" "Name=name,Values=golden-ami-*" --query "sort_by(Images, &CreationDate)[-1].ImageId" --region us-east-1 --output text)
          echo "AMI ID is: $AMI_ID"
          AMI_MESSAGE="AMI ID is $AMI_ID and created on date $(date)"
          echo $AMI_MESSAGE
          trivy aws --region us-east-1 --service ec2 \
            --resource-id $AMI_ID \
            --format json --output trivy-ami.json
          aws s3 cp trivy-ami.json s3://aws-golden-ami-terraform-packer/trivy-ami.json
          curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"${AMI_MESSAGE//$'\n'/\\n}\"}" "${{vars.SLACK_WEBHOOK_URL}}"
          echo -e "From: ${{vars.FROM}}\nTo: ${{vars.TO}}\nSubject: ${{vars.SUBJECT}}\n\n${AMI_MESSAGE}" | msmtp ${{vars.TO}}

