name: AWS Golden AMI

on:

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  building-ami:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Versions Checking
        run: |
          terraform version
          packer version
          trivy version
          packer plugins install github.com/hashicorp/amazon
          pwd

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # - name: Build Golden AMI with Packer
      #   working-directory: packer-golden-image
      #   run: |
      #     packer validate -var-file=variables-packer-golden-ami.json packer-golden-ami.json
      #     packer build -var-file=variables-packer-golden-ami.json packer-golden-ami.json
      
      # - name: Trivy Scan AMI
      #   run: |
      #     AMI_ID=$(aws ec2 describe-images --owners self --filters "Name=tag:Project,Values=aws-golden-ami" "Name=name,Values=golden-ami-*" --query "sort_by(Images, &CreationDate)[-1].ImageId" --region us-east-1 --output text)
      #     echo "AMI ID is: $AMI_ID"
      #     AMI_MESSAGE="AMI ID is $AMI_ID and created on date $(date)"
      #     # curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"${AMI_MESSAGE//$'\n'/\\n}\"}" "${{vars.SLACK_WEBHOOK_URL}}"
      #     # echo -e "From: ${{vars.FROM}}\nTo: ${{vars.TO}}\nSubject: ${{vars.SUBJECT}}\n\n${AMI_MESSAGE}" | msmtp ${{vars.TO}}
      #     echo $AMI_MESSAGE
      #     trivy aws --service ec2 \
      #       --resource-id $AMI_ID \
      #       --format json --output trivy-ami.json
      #     aws s3 cp trivy-ami.json s3://aws-golden-ami-terraform-packer/trivy-ami.json
      #     # curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"${AMI_MESSAGE//$'\n'/\\n}\"}" "${{vars.SLACK_WEBHOOK_URL}}"
      #     # echo -e "From: ${{vars.FROM}}\nTo: ${{vars.TO}}\nSubject: ${{vars.SUBJECT}}\n\n${AMI_MESSAGE}" | msmtp ${{vars.TO}}

      # - name: Creating EC2 Instance with Golden AMI
      #   working-directory: Infrastructure
      #   run: |
      #       terraform init
      #       terraform validate
      #       terraform fmt -check
      #       terraform plan -out aws-golden-ami-plan-github-actions.tfplan
      #       terraform apply --var="ami=$AMI_ID" aws-golden-ami-plan-github-actions.tfplan

      - name: Locate latest AMI and export AMI_ID
        run: |
          set -e
          AWS_REGION=us-east-1
          export AWS_REGION AWS_DEFAULT_REGION=$AWS_REGION

          AMI_ID=$(aws ec2 describe-images \
            --owners self \
            --filters "Name=tag:Project,Values=aws-golden-ami" "Name=name,Values=golden-ami-*" \
            --query "sort_by(Images, &CreationDate)[-1].ImageId" \
            --region "$AWS_REGION" --output text)

          if [ -z "$AMI_ID" ] || [ "$AMI_ID" = "None" ]; then
            echo "ERROR: No AMI found; aborting."
            exit 1
          fi

          echo "Found AMI: $AMI_ID"
          # Persist for next steps
          echo "AMI_ID=$AMI_ID" >> $GITHUB_ENV
      
      - name: Download Trivy DB
        run: trivy --download-db-only

      - name: Scan AMI
        run: |
          trivy vm --scanners vuln ami:$AMI_ID \
          --aws-region="$AWS_REGION" \
          --timeout 60m \
          --format table \
          --output trivy-ami-github-actions.txt



      # - name: Trivy Scan AMI
      #   run: |
      #     set -e
      #     AWS_REGION=us-east-1
      #     export AWS_REGION AWS_DEFAULT_REGION=$AWS_REGION

      #     echo "Scanning AMI_ID=$AMI_ID with Trivy"
      #     trivy vm --scanners vuln ami:$AMI_ID \
      #       --skip-java-db-update \
      #       --aws-region="$AWS_REGION" \
      #       --timeout 60m \
      #       --format table --output trivy-ami-github-actions.txt
      
      - name: Upload Trivy Scan Report to S3
        run: |
          set -e
          AWS_REGION=us-east-1
          export AWS_REGION AWS_DEFAULT_REGION=$AWS_REGION

          aws s3 cp trivy-ami-github-actions.txt s3://aws-golden-ami-terraform-packer/trivy-ami-github-actions.txt


      - name: Creating EC2 Instance with Golden AMI via Terraform
        working-directory: Infrastructure
        env:
          AMI_ID: ${{ env.AMI_ID }}   # injected from earlier step
        run: |
            set -euxo pipefail
            echo "Using AMI_ID=$AMI_ID for Terraform"
            terraform init
            terraform validate
            terraform fmt -check
            terraform plan -var="ami=$AMI_ID" -out aws-golden-ami-plan-github-actions.tfplan
            aws s3 cp aws-golden-ami-plan-github-actions.tfplan s3://aws-golden-ami-terraform-packer/aws-golden-ami-plan-github-actions.tfplan
            terraform apply --auto-approve aws-golden-ami-plan-github-actions.tfplan

      - name: Scanning EC2 with AWS Inspector
        run: |
          set -e
          AWS_REGION=us-east-1
          export AWS_REGION AWS_DEFAULT_REGION=$AWS_REGION

          INSTANCE_ID=$(aws ec2 describe-instances \
            --filters "Name=image-id,Values=$AMI_ID" \
            --query "Reservations[].Instances[].InstanceId" \
            --region "AWS_REGION" -output text)
          
          if [ -z "$INSTANCE_ID" ] || [ "$INSTANCE_ID" = "None" ]; then
            echo "ERROR: No EC2 Instance found for AMI $AMI_ID; aborting
            exit 1
          fi

          echo "Found EC2 Instance: $INSTANCE_ID for AMI: $AMI_ID"

          aws inspector2 list-findings   \
          --filter-criteria '{"resourceId":[{"comparison":"EQUALS","value":"$INSTANCE_ID"}]}' \
          --output json > ec2-github-actions.json

          aws s3 cp ec2-github-actions.json s3://aws-golden-ami-terraform-packer/ec2-github-actions.json